<div class="container">
    <h2 class="text-capitalize text-center latest">Contact Us</h2>
    <div class="row justify-content-center" style="border: 2px solid grey; border-radius: 10px">
      <div class="col-10 col-sm-10 col-md-6 p-5 mt-3 mb-3" style="border-right-style: groove;border-right: 2px solid grey">
        <div class="caddress mb-2" style="color: darkblue; font-weight:500;font-size:1.1rem; ">
          <p>Address:<span>2b Yinusa Street</span></p>
          <p>Ikeja, Lagos State</p>
          <p>Phone : +1 (234) 456 789</p>
          <p>Email : teamcyberdev@gmail.com</p>
          <p>Website: www.teamcyberdev.com</p>
        </div>  
      </div>
      <div class="col-10 col-sm-10 col-md-6 pb-2">
        <div class="ccform">
          <div class="cform">
            <form action="{% url 'contact' %}" method="POST" >
            {% csrf_token %}  
              <div class="mb-3">
                
                <input type="text" name='full_name' placeholder="Full Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
               
              </div>
              <div class="mb-3">
                
                <input type="email" name='email' placeholder="Email Address" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
               
              </div>
              <div class="mb-3">
                
                <textarea placeholder="Enter Your Message" name='message' id="" cols="30" rows="10"></textarea>
               
              </div>
             
              <button type="submit" class="btn btn bale" style="border: 1.1px solid grey;">Submit</button>
            </form>


          </div>
        </div>
      </div>

    </div>
  </div>
