{% extends 'base.html' %}

<!-- {% load humanize %} -->

{% block header %}  {% include 'header.html' %}  {% endblock header %}

{% block title %} | history{% endblock title %}
  

{% block carousel %}  {% include 'carousel.html' %}  {% endblock carousel %}

{% block content %}
<div class="container">
    <h2 class="text-center text-capitalize latest">{{profile.first_name}}'s Shop-cart</h2>
    <div class="table-responsive table-box">
      <table class="table">
        <thead> 
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          {% if trolley %}
            {% for kevin in trolley %}
                 <tr>
                    <td>{{kevin.product.title_r}}</td>
                    <td>{{kevin.quantity}}</td>
                    <td>${{kevin.price}}</td>
                    <!-- <td>${{kevin.price|floatformat:2|intcomma}}</td> -->
                    <!-- <td>${{kevin.amount|floatformat:2|intcomma}}</td> -->
                    <td>${{kevin.amount}}</td>
                 </tr>
            {% endfor %}
          {% endif %}  
          
        </tbody>
      </table>

      <div class="table">
        <table class="table">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total: {{total}} </td>
          </tr>
        </table>
      </div>
    </div>
</div>

{% endblock content %}

{% block footer %}  {% include 'footer.html' %}  {% endblock footer %}  