{% load static %}
<div class="container mt-5 mb-5 text-capitalize">
    <h2 class="text-center text-capitalize">Our team</h2>
    <div class="row justify-content-center">
      <div class="col-8 col-sm-6 col-md-4">
        <div class="card fate" style="width: 18rem; border-right-color:crimson">
          <img src="{% static '' %}img/revolt-164_6wVEHfI-unsplash.jpg" class="card-img-top rounded-pill imgg" alt="...">
          <div class="card-body">
            <h5 class="card-title">Team: cyber dev2.</h5>
            <p class="card-text">portfolio: Jnr . dev.</p>
            <a href="https://www.facebook.com" class="btn btn-secondary">meet</a>
          </div>
        </div>
      </div>

      <div class="col-8 col-sm-6 col-md-4">
        <div class="card fate" style="width: 18rem;">
          <img src="{% static '' %}img/andres-jasso-PqbL_mxmaUE-unsplash.jpg" class="card-img-top rounded-pill imgg" alt="...">
          <div class="card-body">
            <h5 class="card-title">Team: cyber dev2.</h5>
            <p class="card-text">portfolio: Jnr . dev.</p>
            <a href="https://www.facebook.com" class="btn btn-dark">meet</a>
          </div>
        </div>
      </div>
      <div class="col-8 col-sm-6 col-md-4">
        <div class="card fate" style="width: 18rem;">
          <img src="{% static '' %}img/revolt-164_6wVEHfI-unsplash (1).jpg" class="card-img-top rounded-pill imgg" alt="...">
          <div class="card-body">
            <h5 class="card-title">Team: cyber dev2.</h5>
            <p class="card-text">portfolio: Jnr . dev.</p>
            <a href="https://www.facebook.com" class="btn btn-secondary">meet</a>
          </div>
        </div>
      </div>
    </div>
  </div>